body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slider {
  appearance: none;
  width: 10rem; /* Full-width */
  height: 1rem; /* Specified height */
  border-radius: 10px;  
  background: rgb(245, 225, 174); /* Grey background */
  outline: none; /* Remove outline */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */

}

.slider::-webkit-slider-thumb {

  appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  border-radius: 10px;  
  background: goldenrod; /* Green background */
  cursor: pointer
}

.uploadImage {
  height: 10rem;
}